@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jazmin';
  src: url('Jazmin-Light.woff2') format('woff2');
  font-weight: lighter;
}

@font-face {
  font-family: 'Jazmin';
  src: url('Jazmin-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Jazmin';
  src: url('Jazmin-RegularIt.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Light.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

.tmenu_item_link {
  @apply !twcss-font-heading;
}

#insta-feed .instafeed-new-carousel-item img,
.instafeed-shopify .instafeed-new-carousel-item img {
  @apply !twcss-rounded-3xl;
}

.slideshow-video video {
  @apply twcss-z-10 twcss-absolute twcss-h-[110%] twcss-w-[110%] twcss-bottom-[-10px] twcss-object-cover;
}

.tmenu_app_mobile .tmenu_item_layout_collection {
  @apply twcss-w-1/2 !twcss-font-body;
}

.tmenu_app_mobile .tmenu_item_layout_text {
  @apply twcss-w-full !twcss-font-body;
}

.tmenu_item_layout_text .tmenu_item_link {
  @apply !twcss-font-body;
}

.tmenu_item_layout_collection .tmenu_item_link {
  @apply !twcss-font-body;
}

.tmenu_submenu--mobile {
  @apply !twcss-flex-row twcss-flex-wrap;
}

.image-with-text-h1 {
  @media (min-width: 750px) {
    font-size: calc(var(--font-heading-scale) * 7rem);
  }
}

.rich-text__blocks.center h1,
.rich-text__blocks.center h2 {
  text-align: center !important;
}

ul:not(.list-social, .list-unstyled) {
  list-style: disc !important;
  margin: 1rem !important;
  padding: 1rem !important;
}
